In [152]:
import pandas as pd

In [180]:
df = pd.read_excel("D:/github/PhD/NumsWars.xlsx", sheet_name="Figure 1-7")

In [181]:
df.head()

,"Selected Battle Statistics, 1805-1973",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Battle,Date,Attacker*,Strength,Defender*,Strength,A/D,V/L
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67

In [182]:
df.columns

Index(['Selected Battle Statistics, 1805-1973', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [183]:
df.loc[0, :][0:7].to_list()

['Battle', 'Date', 'Attacker*', 'Strength', 'Defender*', 'Strength', 'A/D']

In [184]:
df.rename(columns=df.loc[0, :][0:8], inplace=True)
df.head()

       Battle  Date  Attacker*  Strength  Defender*  Strength   A/D   V/L
0      Battle  Date  Attacker*  Strength  Defender*  Strength   A/D   V/L
1  Austerlitz  1805     FRENCH     75000     Allies     89000  0.84  0.84
2   Auerstadt  1806  Prussians     50000     FRENCH     30000  1.67   0.6
3    Borodino  1812     FRENCH    130000   Russians    120000  1.08  1.08
4     Dresden  1813     FRENCH    100000     Allies    150000  0.67  0.67

In [185]:
df.columns

Index(['Battle', 'Date', 'Attacker*', 'Strength', 'Defender*', 'Strength',
       'A/D', 'V/L'],
      dtype='object')

In [186]:
df.columns= ['Battle', 'Date', 'Attacker*', 'Strength_Att', 'Defender*', 'Strength_Def',
       'A/D', 'V/L']

In [187]:
df.head()

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,A/D,V/L
0,Battle,Date,Attacker*,Strength,Defender*,Strength,A/D,V/L
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67

In [188]:
df.drop(axis=0, index=0, inplace=True)
df.head()

       Battle  Date  Attacker* Strength_Att Defender* Strength_Def   A/D   V/L
1  Austerlitz  1805     FRENCH        75000    Allies        89000  0.84  0.84
2   Auerstadt  1806  Prussians        50000    FRENCH        30000  1.67   0.6
3    Borodino  1812     FRENCH       130000  Russians       120000  1.08  1.08
4     Dresden  1813     FRENCH       100000    Allies       150000  0.67  0.67
5     Leipzig  1813     ALLIES       300000    French       180000  1.67  1.67

In [197]:
len(df.index)

42

In [189]:
df = df.dropna()

In [190]:
df.dtypes

Battle          object
Date            object
Attacker*       object
Strength_Att    object
Defender*       object
Strength_Def    object
A/D             object
V/L             object
dtype: object

In [191]:
import numpy as np
df[["Strength_Att", "Strength_Def"]] = df[["Strength_Att", "Strength_Def"]].astype(np.float).astype("Int64")

In [192]:
df.dtypes

Battle          object
Date            object
Attacker*       object
Strength_Att     Int64
Defender*       object
Strength_Def     Int64
A/D             object
V/L             object
dtype: object

In [193]:
df["Att_to_Def"] = round(df["Strength_Att"]/ df["Strength_Def"], 2)

In [195]:
df.head()

,Battle,Date,Attacker*,Strength_Att,Defender*,Strength_Def,A/D,V/L,Att_to_Def
1,Austerlitz,1805,FRENCH,75000,Allies,89000,0.84,0.84,0.84
2,Auerstadt,1806,Prussians,50000,FRENCH,30000,1.67,0.6,1.67
3,Borodino,1812,FRENCH,130000,Russians,120000,1.08,1.08,1.08
4,Dresden,1813,FRENCH,100000,Allies,150000,0.67,0.67,0.67
5,Leipzig,1813,ALLIES,300000,French,180000,1.67,1.67,1.67

In [202]:
import math
math.sqrt(1.5)

1.224744871391589